<div class="editor">
	<div class="canvas" id="canvas"></div>
	<div class="properties" id="properties"></div>
	<div class="io-import-export">
		<ul class="io-control-list">
			<li>
				<button title="open BPMN diagram from local file system">
					<i class="material-icons">file_upload</i>
				</button>
			</li>
			<li class="vr" style="margin-left: 2px"></li>
			<li>
				<button title="download BPMN diagram on local file system" ng-click="$ctrl.downloadBpmn($event)">
					<i class="material-icons">file_download</i>
				</button>
			</li>
			<li class="vr" style="margin-left: 2px"></li>
			<li>
				<button title="create new BPMN diagram">
					<i class="material-icons">add</i>
				</button>
			</li>
			<li class="vr" style="margin-left: 2px"></li>
			<li>
				<button title="publish BPMN diagram" ng-click="$ctrl.publishModel()">
					<i class="material-icons">publish</i>
				</button>
			</li>
		</ul>
	</div>
</div>