<h1>Dashboard</h1>
<pre>
	{{$ctrl.metrics}}
</pre>
<div class="row">
	<!-- Task -->
	<!--<single-value class="col-md-2" ng-title="Completed Task Count" ng-value="{{$ctrl.metrics.completedTaskCount}}"></single-value>
	<single-value class="col-md-2" ng-title="Completed Task Count Today" ng-value="{{$ctrl.metrics.completedTaskCountToday}}"></single-value>
	<single-value class="col-md-2" ng-title="Open Task Count" ng-value="{{$ctrl.metrics.openTaskCount}}"></single-value>-->
	<!-- Activities -->
	<single-value class="col-md-4" ng-title="Completed Activities" ng-value="{{$ctrl.metrics.completedActivities}}"></single-value>
	<!-- Process -->
	<single-value class="col-md-4" ng-title="Process Definition Count" ng-value="{{$ctrl.metrics.processDefinitionCount}}"></single-value>
	<single-value class="col-md-4" ng-title="Cached Process Definition Count" ng-value="{{$ctrl.metrics.cachedProcessDefinitionCount}}"></single-value>
</div>
<div class="row">
	<div class="col-md-12">
		<table st-table="displayedCollection" st-safe-src="$ctrl.metrics.processesMetrics" class="table table-striped">
			<thead>
				<tr>
					<th st-sort="key">Process Key</th>
					<th>Process Metrics</th>
				</tr>
				<tr>
					<th>
						<input st-search="key" placeholder="search process by key" class="input-sm form-control" type="search"/>
					</th>
					<th colspan="4">
						<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="process in displayedCollection | orderBy:'key'">
					<td>{{process.key}}</td>
					<td>
						<table st-table="process.versions" class="table table-striped">
							<thead>
								<tr>
									<td class="col-md-4">Version</td>
									<td class="col-md-4">Running Processes</td>
									<td class="col-md-4">Completed Processes</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="version in process.versions">
									<td>{{version.version}}</td>
									<td>{{version.running}}</td>
									<td>{{version.completed}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>	
</div>