@CHARSET "UTF-8";
* { box-sizing: border-box; }
body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px;
  height: 100%;
  padding: 0; margin: 0;
  color: #666;
}

a:link { text-decoration: none; }

/* Background Gradient for Monochromatic Colors */
.gradient {
    background-color: #8FC1FF;
    /* For WebKit (Safari, Chrome, etc) */
    background: #8FC1FF -webkit-gradient(linear, left top, left bottom, from(#004397), to(#8FC1FF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #8FC1FF -moz-linear-gradient(top, #004397, #8FC1FF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#004397, endColorstr=#8FC1FF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#004397, endColorstr=#004397)" no-repeat;
    color: #FFFFFF;
}


.navbar-default { 
	background-color: #8FC1FF;
    /* For WebKit (Safari, Chrome, etc) */
    background: #8FC1FF -webkit-gradient(linear, left top, left bottom, from(#004397), to(#8FC1FF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #8FC1FF -moz-linear-gradient(top, #004397, #8FC1FF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#004397, endColorstr=#8FC1FF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#004397, endColorstr=#004397)" no-repeat; 
}
.navbar-default .navbar-brand { color: #FFCD8F; }
.navbar-default .navbar-nav > li > a { color: #FFFFFF; }

#view-container {
	padding: 0; margin: 0 auto;
	width: 90%; height: 75%;
}

#single-value-widget {
	width: 100%; min-width: 60px;
	height: 100%; min-height: 20px; max-height: 100px;
	border: 1px solid #f9f9f9;
	padding: 0; margin: 0 0 10px 0;
}

#single-value-widget #single-value-widget-title {
	display: flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;
	text-transform: capitalize; font-size: 14px; font-weight: bold;
	height: 40%;
	text-align: center; align-items: center; justify-content: center;
	border-bottom: 1px solid #f9f9f9;
	padding: 0; margin: 0;
	background-color: #f9f9f9;
}

#single-value-widget #single-value-widget-value {
	display: flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;
	text-transform: uppercase; font-size: 56px; 
	height: 60%;
	text-align: center; align-items: center; justify-content: center;
	padding: 0; margin: 0;
}

.editor {
  margin: 0;
  padding: 20px 0 0 0;
  /* multiple bg images */
  background-image: url(../images/ruler.png), url(../images/bg-dots.png);
  background-repeat: no-repeat, repeat;
}

.editor .canvas {
  width: 80%;
  display: inline-block;
  padding: 0; margin: 0;
}
.editor .properties {
  width: 18%;  height: 100%;
  vertical-align: top;
  display: inline-block;
  padding: 0; margin: 0;
}

.io-control-list {
    list-style: none;
    padding: 5px;
    margin: 0
}
.io-control-list li { display: inline-block; }

.vr {
    height: 22px;
    display: inline-block;
    border-right: solid 1px #CCC
}

.djs-palette{
	margin-left: -20px;
	margin-top: -20px;	
}

.bpp-properties-panel {
    background-color: #f8f8f8;
    position: relative;
    margin-right: -20px;
}

.bpp-properties-header .label {
	color: inherit;
}

/* Models template */
.models {
}

.svg-area {
	width: 100%; height: 250px;
}
