<div class="models">
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
	      		<input ng-model="$ctrl.query" type="text" placeholder="Filter by" class="input-sm form-control" autofocus>
	    	</form>
    	</div>
	</div>
	<div class="row">
		<div class="col-md-4" ng-repeat="bpmn in $ctrl.bpmns | filter: $ctrl.query" ng-init="model=$ctrl.latestModel(bpmn);">
			<div class="tile">
				<div class="info gradient">
					<span>{{bpmn.name || bpmn.bpmnId}}</span>
					<span class="controls pull-right">
						<ul class="io-control-list">
							<li>
								<span title="List errors"
									class="material-icons-background material-icons mdl-badge mdl-badge--overlap"
									ng-click="$ctrl.showErrors(bpmn)"
									data-badge="{{bpmn.errors.length}}">
									error
								</span>
							</li>
							<li>
								<a title="edit BPMN process"
									class="material-icons-background material-icons"
									ng-click="$ctrl.editBpmn(model.modelId)">
									mode_edit
								</a>
							</li>
							<li>
								<a title="launch BPMN process"
									class="material-icons-background material-icons"
									ng-click="$ctrl.launchBpmn(bpmn.bpmnId)">
									launch
								</a>
							</li>
							<li>
								<a title="delete BPMN deployment and process"
									class="material-icons-background material-icons"
									ng-click="$ctrl.deleteBpmn(bpmn.bpmnId)">
									delete_forever
								</a>
							</li>
						</ul>
					</span>
				</div>
				<div class="table-area">
					<table st-table="versions" st-safe-src="bpmn.versions" class="table table-striped">
						<thead>
							<tr>
								<td class="col-md-4 small-capitalized text-center" style="font-weight: bold;" st-sort="versionId" st-sort-default="true">Version</td>
								<td class="col-md-4 small-capitalized text-center">Active</td>
								<td class="col-md-4 small-capitalized text-center">Terminated</td>
								<td class="col-md-4 small-capitalized text-center">Suspended</td>
								<td class="col-md-4 small-capitalized text-center"></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="version in versions">
								<td class="text-center" style="font-weight: bold;">{{version.versionId}}</td>
								<td class="text-center">{{$ctrl.countInstancesState(version.process, "ACTIVE")}}</td>
								<td class="text-center">{{$ctrl.countInstancesState(version.process, "TERMINATED")}}</td>
								<td class="text-center">{{$ctrl.countInstancesState(version.process, "SUSPENDED")}}</td>
								<td class="text-center">
									<ul class="io-control-list">
										<li>
											<span title="BPMN version information"
												class="material-icons-background material-icons"
												ng-click="$ctrl.info(version)">
												info_outline
											</span>
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="3" st-displayed-pages="5"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>