<div class="models">
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
	      		<input ng-model="$ctrl.query" type="text" placeholder="Filter by" class="input-sm form-control" autofocus>
	    	</form>
    	</div>
	</div>
	<div class="row">
		<div class="col-md-4" ng-repeat="bpmn in $ctrl.bpmns | filter: $ctrl.query" ng-init="model=$ctrl.latestModel(bpmn)">
			<div class="tile">
				<div class="info gradient">
					<span>{{bpmn.bpmnId}}</span><span ng-if="bpmn.name">
						({{bpmn.name}})</span> <span class="controls pull-right">
						<ul class="io-control-list">
							<li>
								<button title="edit BPMN process"
									ng-click="$ctrl.editBpmn(model.modelId)">
									<i class="material-icons">mode_edit</i>
								</button>
							</li>
							<li class="vr" style="margin-left: 2px"></li>
							<li>
								<button title="launch BPMN process"
									ng-click="$ctrl.launchBpmn(bpmn.bpmnId)">
									<i class="material-icons">launch</i>
								</button>
							</li>
							<li class="vr" style="margin-left: 2px"></li>
							<li>
								<button title="delete BPMN deployment and process"
									ng-click="$ctrl.deleteBpmn(bpmn.bpmnId)">
									<i class="material-icons">delete_forever</i>
								</button>
							</li>
						</ul>
					</span>
				</div>
				<div class="svg-area">
					<ext-svg data-content="model.svg"></ext-svg>
				</div>
			</div>
		</div>
	</div>
</div>