<div class="models">
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
	      		<input ng-model="$ctrl.query" type="text" placeholder="Filter by" class="input-sm form-control" autofocus>
	    	</form>
    	</div>
	</div>
	<div class="row">
		<div class="col-md-4" ng-repeat="bpmn in $ctrl.bpmns | filter: $ctrl.query" ng-init="model=$ctrl.latestModel(bpmn)">
			<div class="tile">
				<div class="info gradient">
					<span>{{bpmn.bpmnId}}</span><span ng-if="bpmn.name">
						({{bpmn.name}})</span> <span class="controls pull-right">
						<ul class="io-control-list">
							<li>
								<button title="edit BPMN process"
									ng-click="$ctrl.editBpmn(model.modelId)">
									<i class="material-icons">mode_edit</i>
								</button>
							</li>
							<li>
								<button title="launch BPMN process"
									ng-click="$ctrl.launchBpmn(bpmn.bpmnId)">
									<i class="material-icons">launch</i>
								</button>
							</li>
							<li>
								<button title="delete BPMN deployment and process"
									ng-click="$ctrl.deleteBpmn(bpmn.bpmnId)">
									<i class="material-icons">delete_forever</i>
								</button>
							</li>
						</ul>
					</span>
				</div>
				<div class="table-area">
					<table st-table="versions" st-safe-src="bpmn.versions" class="table table-striped">
						<thead>
							<tr>
								<td class="col-md-4 small-capitalized text-center" style="font-weight: bold;" st-sort="versionId" st-sort-default="true">Version</td>
								<td class="col-md-4 small-capitalized text-center">Active</td>
								<td class="col-md-4 small-capitalized text-center">Terminated</td>
								<td class="col-md-4 small-capitalized text-center">Suspended</td>
								<td class="col-md-4 small-capitalized text-center">Error</td>
								<td class="col-md-4 small-capitalized text-center"></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="version in versions">
								<td class="text-center" style="font-weight: bold;">{{version.versionId}}</td>
								<td class="text-center">{{$ctrl.countInstancesState(version.processes, "ACTIVE")}}</td>
								<td class="text-center">{{$ctrl.countInstancesState(version.processes, "TERMINATED")}}</td>
								<td class="text-center">{{$ctrl.countInstancesState(version.processes, "SUSPENDED")}}</td>
								<td class="text-center">{{$ctrl.countInstancesState(version.processes, "ERROR")}}</td>
								<td class="text-center">
									<ul class="io-control-list">
										<li>
											<button title="BPMN version information"
												ng-click="$ctrl.info(bpmn)">
												<i class="material-icons">info_outline</i>
											</button>
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="3" st-displayed-pages="5"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>