<div class="row">
	<!-- Activities -->
	<single-value class="col-md-4" ng-title="Completed Activities" ng-value="{{$ctrl.metrics.completedActivities}}"></single-value>
	<!-- Process -->
	<single-value class="col-md-4" ng-title="Process Definition Count" ng-value="{{$ctrl.metrics.processDefinitionCount}}"></single-value>
	<single-value class="col-md-4" ng-title="Cached Process Definition Count" ng-value="{{$ctrl.metrics.cachedProcessDefinitionCount}}"></single-value>
</div>
<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
	      		<input ng-model="$ctrl.query" type="text" placeholder="Filter by" class="input-sm form-control" autofocus>
	    	</form>
    	</div>
	</div>
<div class="row">
	<div class="col-md-4" ng-repeat="process in $ctrl.metrics.processesMetrics | filter: $ctrl.query">
		<div class="tile">
			<div class="info gradient">
				<span>{{process.key}}</span><span ng-if="process.name">({{process.name}})</span>
			</div>
			<div class="table-area">
				<table st-table="process.versions" class="table table-striped">
					<thead>
						<tr>
							<td class="col-md-4 small-capitalized text-center">Version</td>
							<td class="col-md-4 small-capitalized text-center">Running Processes</td>
							<td class="col-md-4 small-capitalized text-center">Completed Processes</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="version in process.versions">
							<td class="text-center">{{version.version}}</td>
							<td class="text-center">{{version.running}}</td>
							<td class="text-center">{{version.completed}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>